<main>
    <body>
        <div class="container">
            <div class="login">
                <img src="assets/images/image.png" alt="logo">
                    <form action="">
                        <input id="email" formControlName="email" type="text" class="email" placeholder="email">
                        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                            o campo é obrigatório
                        </div>
                        <input id="password" formControlName="password" type="password" class="senha" placeholder="senha">
                        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                            o campo é obrigatório
                        </div>
                        <a [routerLink]="[ '/prof-bar' ]">esqueceu sua senha?</a>
                        <div class="btn-login">
                            <a [routerLink]="[ '/dashboard1' ]"><button type="submit" [disabled]="loginForm.invalid">Login</button></a>
                            <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
                        </div><!--btn-login-->
                    </form>
            </div><!--login-->  
        </div>
    </body>
</main>