<app-aluno-bar></app-aluno-bar>
<main>
    <body>
        <div class="fundo">
            <div class="bol-title">
                <h2>Ensino</h2>
            </div><!--bol-title-->
            <div class="fundo-utils">
                <div class="btn-eventos">
                    <a routerLink="/ensino/eventos">
                        <button>Eventos</button>
                    </a>
                </div><!--btn-eventos-->
                    <div class="tabela">
                        <div class="txt-tabela">
                            <h2>Grade Horária</h2>
                        </div><!--txt-tabela-->
                    <table border="1">
                        <tr class="titulo">
                            <td>Horário</td>
                            <td>Segunda</td>
                            <td>Terça</td>
                            <td>Quarta</td>
                            <td>Quinta</td>
                            <td>Sexta</td>
                        </tr><!--titulo-->
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div><!--tabela-->
            </div><!--fundo-utils-->
        </div><!--fundo-->
    </body>
</main>