<main>
    <body>
            <div class="menu-aluno">
                <div class="card-aluno">
                    <div class="icone-aluno">
                        <a routerLink ='/perfil2'><button><img src="assets/images/adm.png" alt="aluno" height="50px" width="50px">Nome</button></a>
                        
                    </div><!--icone-aluno-->            
                </div><!--card-aluno-->

                <nav>
                    <ul>
                        <li><a routerLink="/home2"><img src="assets/images/dashboard.png" height="48px" width="48px">inicio</a></li>
                        <li><a href=""><img src="assets/images/aluno.png" height="48px" width="48px">alunos</a></li>
                        <li><a href=""><img src="assets/images/turma.png" height="48px" width="48px">turmas</a></li>
                        <li><a href=""><img src="assets/images/prof.png" height="48px" width="48px">professores</a></li>
                        <li><a href=""><img src="assets/images/disc.png" height="48px" width="48px">disciplinas</a></li>
                        <li><a href=""><img src="assets/images/scale.png" height="48px" width="48px">escalação</a></li>
                        <li><a href=""><img src="assets/images/relatorio.png" height="48px" width="48px">relatório</a></li>
                    </ul>
                </nav>
                <div class="btn-contain">
                    <button><img src="assets/images/chat.png" height="50px" width="50px"></button>
                    <button><img src="assets/images/logout.png" height="50px" width="50px"></button>
                </div>
            </div><!--menu-aluno-->
    </body>
</main>
