<app-aluno-bar></app-aluno-bar>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<main>
    <body>
        <div class="fundo">
            <div class="bol-title">
                <h2>Boletim X</h2>
            </div><!--bol-title-->
            <div class="fundo-utils">
                <div class="tabela">
                    <table border="2">
                        <tr class="titulo">
                            <td>Disciplina</td>
                            <td>C.H.</td>
                            <td>T.Aulas</td>
                            <td>T.Faltas</td>
                            <td>Freq.</td>
                            <td>Nota</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div><!--tabela-->
                <div class="options">
                    <div class="btn-retorno">
                        <a routerLink="/boletim"><button>Voltar</button></a>
                    </div><!--btn-retorno-->
                    <div class="btn-pdf">
                        <button>Gerar PDF <i class="bi bi-arrow-bar-down"></i></button>
                    </div><!--btn-pdf-->
                </div><!--options-->
            </div><!--fundo-utils-->
        </div><!--fundo-->
    </body>
</main>
