<main>
    <body>
            <div class="menu-aluno">
                <div class="card-aluno">
                    <div class="icone-aluno">
                        <a routerLink="/perfil3"><button><img src="assets/images/professor.png" alt="aluno" height="50px" width="50px">Nome</button></a>
                    </div><!--icone-aluno-->            
                </div><!--card-aluno-->

                <nav>
                    <ul>
                        <li><a routerLink="/home3"><img src="assets/images/dashboard.png" height="48px" width="48px">inicio</a></li>
                        <li><a routerLink="/discentes"><img src="assets/images/aluno.png" height="48px" width="48px">alunos</a></li>
                        <li><a href=""><img src="assets/images/turma.png" height="48px" width="48px">turmas</a></li>
                    </ul>
                </nav>
                <div class="btn-contain">
                    <button><img src="assets/images/chat.png" height="60px" width="60px"></button>
                    <button><img src="assets/images/logout.png" height="60px" width="60px"></button>
                </div>
            </div><!--menu-aluno-->
    </body>
</main>
