
<app-header></app-header>
<main>
    <section class="contato">
        <div class="interface">
            <div class="interface-txt">
                <img src="/assets/images/mail.png" width="50px" height="48px">
                <h2>Email: contatoescolatecnologia.com</h2>
                <img src="/assets/images/tel.png" width="50px" height="48px">
                <h3>Telefone: (11) 9876-5432</h3>
            </div><!--interface-txt-->
        </div><!--interface-->
            <div class="interface-mail">
                <div class="txt-mail">
                    <h2>Envie Sua Mensagem</h2>
                    <p>Deixe aqui sua mensagem, crítica e sugestão para que possamos atendê-lo cada vez melhor.</p>
                </div><!--txt-mail-->
                <div class="campo">
                    <form action="">
                        <input type="text" class="email" placeholder="*email">
                            <input type="text" class="nome" placeholder="*nome completo">
                            <input type="text" class="telefone" placeholder="*telefone">
                        <textarea name="msg" id="msg" placeholder="*digite a sua mensagem"></textarea>
                        <div class="btn-enviar">
                            <input type="submit" value="Enviar">
                        </div>
                    </form>
                </div><!--campo-->
            </div><!--mail-->
    </section><!--contato-->
</main>

<footer>
    <div class="interface">
        <div class="flex">
            <div class="txt-footer">
            <h2>Endereço:</h2>
            <p>Rua das Inovações, 1234 
                Bairro Tecnópolis, São Paulo, SP
                CEP 01234-567</p>
            </div><!--txt-footer-->
            <div class="txt-social">
                 <h2>Acompanhe nossas redes sociais:</h2> 
            </div><!--txt-social-->
        </div><!--flex-->
    </div><!--interface-->
            <div class="line-border">
                 <div class="lista">
                 <ul>
                     <li><a href="#">Segurança</a></li>
                     <li><a href="#">Privacidade</a></li>
                     <li><a href="#">Termos</a></li>
                 </ul>  
                 </div><!--lista-->
                 <div class="btn-social">
                     <a href="#"><button><i class="bi bi-instagram"></i></button></a>
                     <a href="#"><button><i class="bi bi-facebook"></i></button></a>
                     <a href="#"><button><i class="bi bi-youtube"></i></button></a>
                 </div><!--btn-social-->
            </div><!--line-border-->
 </footer>
