<main>
    <body>
            <div class="menu-aluno">
                <div class="card-aluno">
                    <div class="icone-aluno">
                        <a routerLink="/perfil1"><button><img src="assets/images/nerd.png" alt="aluno" height="50px" width="50px">Nome</button></a>
                    </div><!--icone-aluno-->            
                </div><!--card-aluno-->

                <nav>
                    <ul>
                        <li><a routerLink="/home1"><img src="assets/images/dashboard.png" height="48px" width="48px">inicio</a></li>
                        <li><a routerLink="/ensino"><img src="assets/images/ensino.png" height="48px" width="48px">ensino</a></li>
                        <li><a routerLink="/boletim"><img src="assets/images/boletins.png" height="48px" width="48px">boletins</a></li>
                    </ul>
                </nav>
                <div class="btn-contain">
                    <button><img src="assets/images/chat.png" height="60px" width="60px"></button>
                    <button><img src="assets/images/logout.png" height="60px" width="60px"></button>
                </div>
            </div><!--menu-aluno-->
    </body>

</main>
